:root {
--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);

--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    /* border: solid 1px gray; */
}

body {
    background-color: var(--Light-Gray);
    font-family: 'Karla', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.box {
    width: 90%;
    max-width: 640px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(3, 1fr);
    font-size: 1rem;
}
.box__community {
    background-color: white;
    padding: 1.2em 1.5em 3em;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}
.community__tittle {
    color: var(--Cyan);
    font-size: 1.5em;
    margin-top: 1em;
}
.community__subtittle {
    color: var(--Bright-Yellow);
    font-size: 1.2em;
    margin-top: 1em;
}
.community__paragraph {
    color: var(--Grayish-Blue);
    font-size: 1em;
    margin-top: 1em;
    line-height: 1.6em;
}

.box__subscription {
    background-color: var(--Cyan);
    color: white;
    padding: 1.5em;
}
.subscription__tittle {
    font-size: 1.3em;
}
.subscription__price {
    margin-top: .5em;
    font-size: 2em;
    
}
.subscription__price span {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255,.6);
    
}
.subscription__subtittle {
    margin-top: 1em;
    font-weight: 400;
}
.subscription__botton {
    margin: 1.2em auto;
    text-align: center;
    width: 80%;
}